# Python
__pycache__/
*.pyc
*.pyo
.mypy_cache/
.venv/
venv/

# Node
node_modules/

# Cloudflare Wrangler
.wrangler/

# OS
Thumbs.db
.DS_Store

# Project specific
tinymist.lock
user_manual.pdf
user_manual.html
body.html
deploy_kv.ps1
typ2html.py
*.typ
